.Rproj.user
.Rhistory
.RData
.Ruserdata
data/DenverGardens_Sites.csv
data/"Arthropod Data - June - Traps.csv"
data/"Arthropod Data - July - Traps.csv"
data/"Arthropod Data - August - Traps.csv"
data/site_data.csv
data/NLCD_mf5qnksxr8tzfi/
data/NLCD_mf5qnt9vt9mx4o/
data/"observations-670835.csv""
analyses/CodeTemplate_HonorTheses.Rmd
analyses/DataCleaning_HonorTheses.Rmd
analyses/DataCleaning_Rene_HonorTheses.Rmd
data/"0003154-260226173443078.csv""